@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(-45deg, #ffeb3b, #74efff, #9c27b0);
  background-size: 400% 400%;
  animation: gradient-bg 20s ease infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  :root {
    --color-bkg: 210deg 40% 98%;
    --color-content: 217deg 32.6% 17.5%;
    --color-accent1: 288deg 95.8% 90.6%;
    --color-accent2: 168deg 83.8% 78.2%;
  }
  @media (prefers-color-scheme:dark) {
    :root {
      --color-bkg: 217deg 32.6% 17.5%;
      --color-content: 210deg 40% 98%;
      --color-accent1: 288deg 95.8% 60.6%;
      --color-accent2: 168deg 83.8% 48.2%;
    }
  }
  :root[data-theme="dark"]{
    --color-bkg: 217deg 32.6% 17.5%;
    --color-content: 210deg 40% 98%;
    --color-accent1: 288deg 95.8% 60.6%;
    --color-accent2: 168deg 83.8% 48.2%;
  }
  :root[data-theme="cool"]{
    --color-bkg: 217deg 32.6% 17.5%;
    --color-content: 210deg 40% 98%;
    --color-accent1: 288deg 95.8% 60.6%;
    --color-accent2: 168deg 83.8% 48.2%;
  }
}
/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  } */
